@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IStringLocalizer<ResumeBuilder.SharedResource> SharedLocalizer
@(Html.DevExtreme().Popup()
        .ID("integration-popup")
        //.Width(400)
        .Height(470)
        .ShowCloseButton(true)
          .ShowTitle(true)
        .Title(SharedLocalizer["Integration"])
    .RtlEnabled(CultureHelper.IsRighToLeft())
    .ShowCloseButton(true)
    .ContentTemplate(new TemplateName("apply-integration-popup-template"))
)

@using (Html.DevExtreme().NamedTemplate("apply-integration-popup-template"))
{
    @(Html.DevExtreme().ScrollView()
        .Width("100%")
        .Height("100%")
        .Content(@<text>



<div class="columns" >
    <div class="column" >
         @SharedLocalizer["JobseekerName"]
    </div>
    <div class="column is-three-fifths">
          <input type="hidden" id="jobseeker_Id" />
        <span id="integration-jobseeker-name"></span>
    </div>
</div>
<br />
<div class="table-container">
  <table style="width:75%; border:thin; border-width:medium" >
    <tr>
        <td style="font-weight:bold" >@SharedLocalizer["Integration"]</td>
        <td  style="font-weight:bold" >@SharedLocalizer["Username"]</td>
        <td  style="font-weight:bold" >@SharedLocalizer["LastUpdate"]</td>
        <td></td>
    </tr>
     <tr>
        <td>@SharedLocalizer["PersonalInfo"]</td>
         <td><span id="integration-personalInfo-username"></span></td>
         <td><span id="integration-personalInfo-lastupdate"></span></td>
         <td>


           <button type="button" onclick="Integration.employees.personalInfo()" id="btnPersonalInfo" class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                                    <!-- Heroicon name: solid/mail -->
                                    <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                                    </svg>
                                    <span>@SharedLocalizer["GetPersonalInfo"]</span>
                                </button>

         </td>
     </tr>
     <tr>
        <td>@SharedLocalizer["Pensionfund"]</td>
         <td><span id="integration-pensionInfo-username"></span></td>
         <td><span id="integration-pensionInfo-lastupdate"></span></td>
         <td>
            <button type="button" onclick="Integration.employees.pensionFund()" id="btnPensionfund" class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                                    <!-- Heroicon name: solid/mail -->
                                    <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                                    </svg>
                                    <span>@SharedLocalizer["GetPensionfund"]</span>
                                </button>

         </td>
     </tr>
      <tr>
          <td><div id="loadingIntegration" >
<img src="~/images/ajax-loader.gif" /> @SharedLocalizer["PleaseWait"]</div></td>
      </tr>
  </table>
</div>



</text>)
)
}

<script src="~/js/devextreme/integration.js"></script>



