@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@model string
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IStringLocalizer<ResumeBuilder.SharedResource> SharedLocalizer
@(Html.DevExtreme().Popup()
        .ID("vacancy-applied-popup")
        //.Width(400)
        .Height(470)
        .ShowCloseButton(true)
          .ShowTitle(true)
        .Title(SharedLocalizer["ApplyVacancy"])
    .RtlEnabled(CultureHelper.IsRighToLeft())
    .ShowCloseButton(true)
    .ContentTemplate(new TemplateName("apply-vacancy-popup-template"))
)

@using (Html.DevExtreme().NamedTemplate("apply-vacancy-popup-template"))
{


    @(Html.DevExtreme().ScrollView()
        .Width("100%")
        .Height("100%")
        .Content(@<text>
<div class="columns" >
    <div class="column" >
         @SharedLocalizer["JobseekerName"]

    </div>
    <div class="column is-three-fifths">
       <input type="hidden" id="jobseeker_Id" />
        <span id="vacancy-jobseeker-name"></span>
    </div>
    <div class="column">
          @(Html.DevExtreme().Button()
            .RtlEnabled(CultureHelper.IsRighToLeft())
            .ElementAttr("class", "button-new")
            .ID("apply_vacancy_button").Disabled(true)
            .Text(SharedLocalizer["ApplyVacancy"])
            .OnClick("DevAV.employees.postVacancy")

        )
    </div>
</div>

 @(Html.DevExtreme().DataGrid<ResumeBuilder.Models.Vacancy>()
            .ID("apply-vacancy-grid").RtlEnabled(CultureHelper.IsRighToLeft())
             .ShowBorders(true)

             .Paging(paging => paging.PageSize(5))
    .Pager(pager => pager
        .ShowNavigationButtons(true).ShowPageSizeSelector(true)
        .ShowInfo(true).AllowedPageSizes(new[] { 5, 10, 20, 100 }).ShowInfo(true)
    )
     .FilterRow(fr => fr.Visible(true))

            .Selection(s => s.Mode(SelectionMode.Multiple).AllowSelectAll(false).ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always).SelectAllMode(SelectAllMode.AllPages))
            .Columns(columns => {

                columns.AddFor(m => m.AutoGenerateJobCode).Caption(SharedLocalizer["JobCode"]);
                columns.AddFor(m => m.ReferenceCode).Caption(SharedLocalizer["ReferenceCode"]);
                columns.AddFor(m => m.EnTitle).Caption(SharedLocalizer["Title"]);
                columns.AddFor(m => m.EmployerId).Caption(SharedLocalizer["Employer"])
               .Lookup(lookup => lookup.DataSource(ds => ds.Mvc().Controller("lookup").LoadAction("GetActiveCompaniesLookup").Key("Id").LoadMode(DataSourceLoadMode.Raw)).ValueExpr("Id").DisplayExpr(Model));
                columns.AddFor(m => m.AppliedVacancyStatus);
            }).DataSource(d => d.Mvc().Controller("Vacancy").LoadAction("GetActiveVacancies").Key("AutoGenerateJobCode").LoadParams(new { jobSeekerId = new JS("getJobSeekerId") }))
            .OnSelectionChanged("DevAV.employees.SelectedVacancy"))


<div class="columns" >
    <div class="column" >
        <span class="caption">Selected Vacancies:</span>
        <span id="selectedItemsContainer">No vacancy has been selected</span>
    </div>
</div>


        </text>)
    )
}
